/* Preset */
body{
    font-family: 'Plus Jakarta Sans', sans-serif;
    padding: 0;
    margin: 0;
    color: #23454F;
}
ul,ol{
    margin: 0;
}
h1,h2,h3,h4,h5,h6,p{
    margin-block-start: 0em;
    margin-block-end: 0em;
}
h1{
    font-size: 50px;
    line-height:64px;
    font-weight: 800;
}
h2{
    font-size: 30px;
}

h3{
    font-size: 25px;
}

h4{
    font-size: 20px;
}
h5{
    font-size: 18px;
    font-weight: 600;
}

h6{
    font-size: 16px;
}
p{    line-height: 25px;}


@media(max-width:768px){
    h1 {
        font-size: 40px;
        line-height: 52px;
    }
}
@media(max-width:480px){

h1 {
    font-size: 22px;
    line-height: 35px;
}
h2{
    font-size: 20px;
}
h4{
    font-size: 18px;
}
h5 {
    font-size: 15px;
}
p{   font-size: 14px;}

}


/* Utility */

.f-300{
    font-weight: 300!important;
}
.f-600{
    font-weight: 600!important;
}
.m-50{
    margin-top: 50px;
}

@media(max-width:480px){
    .m-50{
        margin-top: 30px;
    }
}

main{
    width: 100%;
}
section,footer{
    display: flex;
    justify-content: center;
    width: 100%;
}


    section>div:not(.nav-container),footer>div{
    width: 1200px;
    padding: 100px 20px;

    }

@media(max-width:480px){
/* footer>div{
   
} */
footer>div{
    width: calc(100%)!important;
    padding: 100px 0px;
}

}
/* Nav */
#about .nav{  
    width: 100%;
    display: flex;
    justify-content: center;
}
#about .nav .nav-container{  
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media(max-width:769px){

    #about .nav .nav-container {
        padding: 16px;
    }
}
#about .nav .nav-container img{ 
    width: 163px;
} 

@media(min-width:769px){
    #about .nav .nav-container .nav-button{
        display: flex;
    }
}

#about .nav .nav-container .nav-button{
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
#about .btn{
    /* border: 1px solid #707070; */
    padding:15px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 40px; */
    font-size: 14px;
    font-weight: 400;
    width: fit-content;
}
.btn-primary{
    background-color: #5ACE8D;
    color: #ffffff;
    border-radius: 6px;
}

.btn-primary-flat{
    background-color: #5ACE8D;
    color: #ffffff;
    border-radius: 0px;
}

.btn-secondary{
    background-color: #fff;
    color: #23454F;
    border-radius: 6px;

}




#about .nav .nav-container .nav-button .nav ul.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:20px;
    position: relative;
    font-size: 14px;

}
#about .nav .nav-container .nav-button .nav ul.main li{
    list-style-type: none;
    position: relative;
}

#about .nav .nav-container .nav-button .nav ul.main li a{
    text-decoration: none;
    color: #23454F;
}

#about .nav .nav-container .nav-button .nav ul.main li a svg{ 
    width: 10px;
    margin: 0 6px;
}

#about .nav .nav-container .nav-button .nav ul.submenu{
    position: absolute;
    /* left: -40px; */
    top: 40px;
    min-width: 100px;
    display: none;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px!important;
}
#about .nav .nav-container .nav-button .nav ul.submenu.active{
    display: block;
}
#about .nav .nav-container .nav-button .nav ul.submenu li{
margin-bottom: 10px;
}

#about .mobile-nav{
    display: none;
    
}


@media(max-width:768px){
    #about .mobile-nav{
        display: block;
        z-index: 99999;
    }
    #about .nav-button {
        position: absolute;
        background: #5bce8d;
        width: 100%;
        height: 100%;
        flex-direction: column;
        left: 0;
        align-items: center!important;
        right: 0;
        top: 80px;
        justify-content: center!important;
        display: none;
        z-index: 99;
    }
    #about .nav-button.mobile-active {
        display: flex;
    }

    #about .nav .nav-container .nav-button .nav ul.main {
        list-style-type: disc;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 0px!important;
        flex-direction: column;
        /* padding-top: 300px; */
        gap: 50px;
    }
    #about .nav .nav-container {
        padding: 16px;
    }
    #about .nav .nav-container img {
        width: 120px;
        z-index: 99999;
    }
    #about .nav .nav-container .nav-button .nav ul.main li a {
        font-size: 18px;
    }
    #about .nav .nav-container .nav-button .nav ul.main li a svg {
        margin: 7px 0 2px 6px;
    }
}

/* Hero */
@media(min-width:1025px){

#about .hero-container{
    display: grid;
    grid-template-columns: 50% 1% 49%;
}
}


@media(max-width:1024px){
    #about .hero-container{
    display: grid;
        grid-template-columns: 450px 10px 500px;
    }
    #about .hero-container .content .partners {
        grid-template-columns: repeat(4, 1fr) !important;
    }
}
@media(max-width:768px){

    #about .hero-container {
        display: grid;
        grid-template-columns: 50% 1% 49%;
    }
    #about .hero-container .content .partners {
        grid-template-columns: repeat(2, 1fr) !important;
    }
    .hero-container  .splide {
        margin: 10px!important;
    }

}

@media(max-width:700px){

    #about .hero-container {
        display: grid;
        grid-template-columns: 1fr;
    }
    #about .hero-container .content .partners {
        grid-template-columns: repeat(3, 1fr) !important;
        margin-top: 30px;
    }
    #about .hero-container .content .head h1 br {
        display: none;
    }
    #about .hero-container{
        gap: 50px;
    }
    .hero-container .splide__slide .content{
        padding: 10px;
    }

    .hero-container  .splide {
        margin: 10px!important;
    }

}

@media(max-width:480px){
    #about .hero-container .content .partners {
        grid-template-columns: repeat(2, 1fr) !important;
        margin-top: 30px;
    }
    #about .hero-container .content .head h1 {
        font-size: 28px;
    }
    #about .hero-container .content .head h3 {
        font-size: 20px;
    }
}

/*@Splide Orride  */
.hero-container .splide__list {
    height: 500px!important;
}
.hero-container .splide__slide img {
    object-fit: cover;
    width: 90%;
    height: 90%;
    /* scale: 0.9; */
    position: absolute;
    left: 0;
}
.hero-container .splide__slide .content{
    position: absolute;
    content: "";
    bottom: 0;
    background: #ffffff;
    padding: 30px;
    /* border: 1px solid red; */
    left: 30%;
    font-size: 13px;
}

.hero-container .splide__slide .content .body{
display: flex;
align-items: center;
justify-content: space-between;
}
.hero-container  .splide__slide .content .body h6{
    font-size: 14px;

}

.hero-container .splide__slide .content .body .handle{
color: #46B175;
}

.hero-container  .splide__pagination {
justify-content: flex-start!important;
}

.hero-container .splide__arrow--next {
    right: 5em!important;
}
.hero-container  .splide {
    margin: 20px 20px 60px 30px; 
}
.hero-container  .splide::before {
    background: #5ace8d59;
    position: absolute;
    content: "";
    height: 120%;
    width: 55%;
    /* z-index: 999; */
    left: -26px;
    top: -40px;
}
.hero-container  .splide::after {
    background: url(./img/splide-after.png);
    position: absolute;
    background-repeat: no-repeat;
    content: "";
    height: 111%;
    width: 40%;
    /* z-index: 999; */
    left: -73px;
    top: 0;
}


.hero-container  .splide__arrow {display: none;}
/* Override Ends */



#about .hero-container .content .head{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    flex-direction: column;
    /* margin-bottom: 50px; */
}

#about .hero-container .content .partners{
    display: grid;
    grid-template-columns:repeat(5, 1fr) ;
    gap: 20px;
}

#about .hero-container .content {

    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
}


/* Our Goal Section */
section.our-goal {
    background: #5ACE8D;
}

#about .our-goal-container{
    display: grid;
    grid-template-columns: 60% 40%;
    justify-content: space-between;
}

@media(max-width:768px){
/* #about .our-goal-container{
    justify-content:center;
} */
}
#about .our-goal-container .content {
    /* padding-right: 10rem; */
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#about .our-goal-container .content h1{
    color: #fff;
}
#about .our-goal-container .content p{
color:#23454F;
}
/* #about .our-goal-container .content { */


#about .our-goal-container .bg{
background: url(./img/our-goal-bg.png);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
height: 534px;
position: relative;
}
#about .our-goal-container .bg::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 70px;
    background: #5ACE8D;
    z-index: 9;
    left: 0px;
    top: 70px;
}
@media(max-width:480px){
    #about .our-goal-container .content h1{
       font-size: 19px;
    }
    #about .our-goal-container .bg{
        height: 434px;
    }
    #about .our-goal-container .bg::before {
        z-index: 9;
        left: 0px;
        top: 20px;
        width: 20px!important;
    }
}

/* Ecosystem */
section.ecosystem {
    background: #F5F5F5;
}

.ecosystem-container .ecos{
    display: grid;
    grid-template-columns: 30% 70%;
    /* position: relative; */
}
.ecosystem-container .ecos .content{
    background-color: #ffffff;
    padding: 30px;
    display: flex;
    gap: 40px;
    flex-direction: column;
    z-index: 10;
    height: 380px;
    position: relative;
}


.ecosystem-container .ecos .content svg {
    width: 169px;
}

.ecosystem-container .ecos .content p {
    font-size: 19px;
    line-height: 30px;
}

@media(max-width:768px){

    .ecosystem-container .ecos{
        display: grid;
        grid-template-columns: 35% 65%;
    }

    .ecosystem-container .ecos .content p {
        font-size: 13px;
    }
}


@media(max-width:480px){

    .ecosystem-container .head{
        width: 100%!important;
    }

    .ecosystem-container .ecos .bg {
        height: 400px;
        background-color: #23454F;
        /* position: absolute; */
        margin-left: -199%;
        z-index: 9;
        margin-top: 80px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

}


@media(max-width:768px){

    .ecosystem-container .ecos{
        display: grid;
        grid-template-columns: 70% 30%;
        /* scale: 0.8; */
    }

}

@media(max-width:480px){
    .ecosystem-container{
        width: calc(100% - 40px)!important;
    }
}

.ecosystem-container .head {
   width: 46%;
   padding: 0 0 40px 0;

}

.ecosystem-container .head h3{
    font-weight: 300;
        
}


.ecosystem-container .ecos .content .btn {
    position: absolute;
    bottom: 0;
    right: 0;
}


.ecosystem-container .ecos .bg{
    height: 450px;
    background-color: #23454F;
    /* position: absolute; */
    margin-left: -115px;
    z-index: 9;
    margin-top: 55px;
}


/* @override */
div#splide02-track{
    /* display: none; */
}
.ecosystem-container .splide__arrow{
    position: relative!important;
}
.ecosystem-container .splide__arrows.splide__arrows--ltr {
    /* display: none; */
    display: flex;
    gap: 26px;
    position: absolute;
    top: 27px;
   
}

@media(min-width:768px){
    .ecosystem-container .splide__arrows.splide__arrows--ltr {
        left: 29%;
    }

}

@media(max-width:768px){
    .ecosystem-container .splide__arrows.splide__arrows--ltr {
        left: 68%!important;
    }
    .ecosystem-container .splide__arrow{
    
        width: 3em!important;
    }
}
.ecosystem-container .splide__arrow {
 
    background: #ccc;
    border: 0;
    border-radius: 0%!important;
    display: flex;
    height: 4em!important;
    opacity: .7;
    padding: 0;
    position: absolute;
    top: 5.5%!important;
    transform: translateY(-50%);
    width: 4em!important;
 
}
@media(min-width:481px){

    .ecosystem-container .splide__arrow--prev {
        position: relative!important;
        /* left: 30%!important; */
    }
    .ecosystem-container .splide__arrow--next {
        position: relative!important;
        /* right: calc(100% - 38%) !important; */
    }

}
.ecosystem-container ul.splide__list {
    margin: 0;
    margin-block-start: 0em!important;
    margin-block-end: 1em!important;
    padding-inline-start: 0px!important;
}

.ecosystem-container li.splide__slide { list-style-type: none; }

/* Outreach */


#about .outreach{
    background: url(./img/the-outreach-2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 534px;
    position: relative;
}
@media(max-width:480px){
    #about .outreach{
    height: 234px;

    }
}

/* Stats */
#about .stats{
    background-color: #23454F;
}

#about .stats-container {
    display: grid;
    grid-template-columns: 20% 70%;
    justify-content: space-between;
   
    gap:10%;
}


#about .stats-container .bg {
    background: url(./img/up.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    position: relative;
    }
 

#about .stats span.figur{
    color: #fff;
    font-size: 40px;
    font-weight: 800;
}
#about .stats span.content{
    color: #5ACE8D;
}

#about .stats-container .stats-frames{
display: grid;
grid-template-columns: repeat(3,1fr);
margin: 20px;
gap: 20px;
}

#about .stats-container .stats-frames .stat-frame {
display: flex;
flex-direction: column;
}

@media(max-width:768px){
    #about .stats span.content {
        font-size: 14px;
    }
    #about .stats-container {
    grid-template-columns:1fr;
        gap: 5%;
    }

    #about .stats-container .bg {
    height: 100px;
    }
}

@media(max-width:480px){
    #about .stats span.figur{
        font-size: 30px;
    }
    #about .stats-container .stats-frames{
     
        grid-template-columns: repeat(2,1fr);
        margin: 0;
        }
}


/* Blog */

.blog-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.blog-container .head{
 padding: 20px 0;   
}

.blog-container .head h4:first-child{
      font-weight: 800;
}

.blog-container .head h4.subheading{
    font-weight: 300;
}


.blog-container .body{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:30px;
 }

@media(max-width:768px){
    .blog-container .body{
        grid-template-columns: repeat(2,1fr);
    }
}
@media(max-width:480px){
    .blog-container .body{
        grid-template-columns:1fr;
    }
}
/* .blog-container .body .b-card{ } */

.blog-container .body .b-card .fimg{
    height: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
} 
.blog-container .body .b-card .b-content p{
    color: #707070;
    font-weight: 300;
} 

.blog-container .body .b-card .b-content{
display: flex;
flex-direction: column;
gap:12px;
padding: 10px 0;
} 
.blog-container .body .b-card .b-content .cat{
font-weight: 300;
}

.blog-container .body .b-card .b-content h4{
font-weight: 600;
color: #23454F;
}

.blog-container .body .b-card .b-content h6{
    color: #46B175;
}


/* Faqs */

section.faqs {
    background: #F5F5F5;
}
.faqs-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 220px!important;
}
.faqs-container .head{
 padding: 20px 0;   
}

.faqs-container .head h4:first-child{
    font-weight: 800;
}

.faqs-container .head h4.subheading{
  font-weight: 300;
}

.faqs-container .faqs-frames{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.faqs-container .faqs-frames .faqs-frame {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.faqs-container .faqs-frames .faqs-frame h5{
    cursor: pointer;
}

.faqs-container .faqs-frames .faqs-frame p{
font-weight: 200;
line-height: 20px;
display: none;
transition: all .6s ease-in-out ;
}

@media(max-width:768px){
    .faqs-container .faqs-frames .faqs-frame {
        width: 100%;
    }
}

/* Footer */
/* .footer-container{} */
footer {
    margin-top: -220px;
}
.footer-container .newsletter{
    background-color: #5ACE8D;
    border-radius: 25px;
    min-height: 237px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.footer-container .newsletter .newsletter-container{
    width: 800px;
    display: flex;
    flex-direction: column;
    gap:20px;
}


@media(max-width:800px){
    .footer-container .newsletter .newsletter-container{
        width: 100%;
        padding: 20px;
    }
}

.footer-container .newsletter .newsletter-container .head-news-text{
    color: #ffffff;
    display: flex;
    flex-direction: column;
    gap:5px;
}
.footer-container .newsletter .newsletter-container .head-news-text h5.subheading{
font-weight: 300;
}

.footer-container .newsletter .newsletter-container input[type="email"]{
    background-color: #DDFFEC;
    padding: 17px;
    border-width: 0 ;
    color: #23454F;
    font-size: 16px;
    outline: 0;
    /* width: 80%; */
}

.footer-container .newsletter .newsletter-container form {
    display: grid;
    grid-template-columns: 80% 20%;
}

.footer-container .newsletter .newsletter-container input[type="email"]::placeholder{
    color: #23454F;
}
.footer-container .newsletter .newsletter-container input[type="submit"]{
    background-color: #ffffff;
    padding: 17px 20px;
    border-width: 0 ;
    color: #23454F; 
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Footer Links */

@media (min-width:800px){
  
    .footer-container .about-footer{
        display: grid;
        grid-template-columns: 40% 20% 20% 20%;
        color: #989898;
        padding-top: 70px;

    }
}
    .footer-container .about-footer{
        padding-top: 70px;
        color: #989898;

    }

.footer-container .about-footer .f-about .contact{
margin-top: 40px;
display: flex;
flex-direction: column;
gap:15px;
}
.footer-container .about-footer .f-about .contact .div{
margin: 0 20px;
}
.footer-container .about-footer .f-about .contact h6{
font-weight: 300;
}

@media (min-width:481px) and (max-width:800px){
    .footer-container .about-footer .f-about .contact .div{
        margin: 0 10px;
    }
    .footer-container .about-footer .m-list{
        gap: 10px!important;
    }
    .footer-container .about-footer .m-list li a {
         font-size: 14px;
       
    }
    .footer-container .about-footer{
        grid-template-columns: repeat(2,1fr);
        gap: 40px;
        display: grid;
    }
}

@media(max-width:480px){
.footer-container .newsletter .newsletter-container .head-news-text{
padding: 10px;
}

.footer-container .newsletter .newsletter-container .n-form {
    padding: 10px;
}
    .footer-container .newsletter {
        scale: 0.9;
    }
    .footer-container .about-footer{
        margin: 20px;
    }
    /* .footer-container .about-footer{
        grid-template-columns: 1fr !important;
        gap: 40px;
    } */

    .f-about {
        width: auto;
    }
    .footer-container .about-footer  {
        gap: 40px;
        display: flex;
        flex-direction: column;
    }
    .hide-mobile{
        display: none;
    }

    .footer-container .copyright{
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }
    .footer-container .newsletter .newsletter-container form {
      
        grid-template-columns: 70% 30%;
    }
}

.footer-container .about-footer svg{
    width: 100px;
    height: fit-content;
    margin-bottom: 20px;
    margin-top: -20px;
}
.footer-container .about-footer p{
    font-size: 15px;
font-weight: 300;
line-height: 28px;
}

.f-about {
    width: 300px;
}
.footer-container .about-footer .m-list{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-container .about-footer .f-ndg-title{
    color: #989898;
    margin-bottom: 20px;
    height: 20px;
}
.footer-container .about-footer .m-list li{
list-style-type: none;
}

.footer-container .about-footer .m-list li a{
text-decoration: none;
font-size: 15px;
color: #989898;
}

.footer-container .copyright{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    margin-top: 40px;
    border-top: 1px solid #989898;
}
.footer-container .copyright p{
    font-size: 15px;
color: #989898;

}
.footer-container .copyright .social{
display: grid;
grid-template-columns: repeat(4,1fr);
align-items: center;
gap: 20px;
}

.footer-container .copyright .social svg{
width: 23px;
} 
